Q1.Create a pandas series that contains the following data:4,8,15,16,23, and 42.then,print the series.

In [1]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2.Create a variable of list type containing 10 elements in it, and apply pandas.series function on the variable print it.

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create a Pandas Series from the list
series = pd.Series(my_list)

# Print the Series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3.Create a pandas Dataframe that contains the following data:

In [3]:
import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4.What is 'DtatFrame' in pandas and how is it different from pandas.series?Explain with an example.

Pandas Series

A Pandas Series is a one-dimensional labeled array capable of holding any data type (integers, floats, strings, objects, etc.). It can be thought of as a single column of a DataFrame.

In [4]:
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Pandas DataFrame

A Pandas DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or a SQL table. It can be thought of as a collection of Series objects.

In [5]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   28      Chicago

Q5.What are some comman functions you can use to amnipilate data in a pandas DataFrame?can you give  an example of when you might use one of these functions?

In [6]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

# Select rows by label
print(df.loc[0:1, ['Name', 'Age']])

    Name  Age
0  Alice   25
1    Bob   30

In [7]:
# Select first two rows and first two columns
print(df.iloc[:2, :2])

    Name  Age
0  Alice   25
1    Bob   30

Q6.Which of the following is mutable in nature Series,DataFrame,panel?

Q7.Create a DataFrame using multiple Series. Explain with an example.